body{
    width: 100%;
}

.block{  
    margin-top: 10px;
    border-radius: 10px;
    height: 450px;
    overflow-y: auto;
    background-color: grey;
    padding: 10px;    
}

.name {
    color: red;
    font-size: 15px;
    font-weight: bold;
    background-color: pink;
    border-radius: 5px;
    padding: 8px;
}

.messageContent {
    font-size: 18px;
    /* margin-top:-10px; */
    padding:5px;  

}

.message{
    /* padding: 10px; */
    line-height: 0px;
    width:40%;  
    background-color: white;
    border: 2px;
    border-radius: 5px;
    margin-top: 10px;    
    
}

.left{
    float: left;
    clear: both;
}

.right{
    float: right;
    clear: both;
}

.send{
    margin-top: 10px;
}

#userMessage{
    width:90%;
    float: left;
}
.btn{
    width:9%;
    float: right;
}

.nav-link {
    float: right;
}

